/*----------------------------------------Navigation bar---------------------------------------*/
nav {
    font-family: homizio;
    font-size: 1.5em;
    color: #ffffff;
    z-index: 20000;
    padding: 0;
    text-align: center;
    
    position: relative;
    display: block;
}

.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818881;
    display: block;
    transition: 0.4s
}

.nav a:hover{
    color: #f1f1ff;
}

/*about me nav bar*/

.nav .closebtn {
    left: 93%;
    position: absolute;
    top: auto;
    font-size: 60px;
}

.about-me li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.about-me li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.about-me li a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.about-me .active {
        color: #ffffff;
}

.about-me span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    top: 10%;
    z-index: 10000;
}

.about-me span:hover {
    color: #f1f1ff;
    opacity: 0.5;
}

/*showcase-page nav bar*/

.showcase-page .nav .closebtn {
    left: 93%;
    position: absolute;
    top: auto;
    font-size: 60px;
}

.showcase-page li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.showcase-page li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.showcase-page li a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.showcase-page .active {
        color: #ffffff;
}

.showcase-page span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    top: 10%;
    z-index: 10;
}

.showcase-page span:hover {
    color: #f1f1ff;
    opacity: 0.5;
}

/*art-page nav bar*/

.art-page .nav .closebtn {
    left: 93%;
    position: absolute;
    bottom: 90%;
    font-size: 60px;
}

.art-page li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.art-page li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.art-page li a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.art-page .active {
        color: #ffffff;
}

.art-page span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    bottom: 91%;
    z-index: 10;
}

.art-page span:hover {
    color: #f1f1ff;
    opacity: 0.5;
}

/*contact-me nav bar*/

.contact-me .nav .closebtn {
    left: 93%;
    position: absolute;
    top: auto;
    font-size: 60px;
}

.contact-me li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.contact-me li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.contact-me li a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.contact-me .active {
        color: #ffffff;
}

.contact-me span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    top: 10%;
    z-index: 10000;
}

.contact-me span:hover {
    color: #f1f1ff;
    opacity: 0.5;
}

/*resume-page nav bar*/

.resume-page .nav .closebtn {
    left: 93%;
    position: absolute;
    bottom: 90%;
    font-size: 60px;
}

.resume-page li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.resume-page li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.resume-page sli a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.resume-page .active {
        color: #ffffff;
}

.resume-page span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    bottom: 91%;
    z-index: 10000;
}

.resume-page span:hover {
    color: #f1f1ff;
    opacity: 0.8;
}

/*survey-page nav bar*/

.survey-page .nav .closebtn {
    left: 93%;
    position: absolute;
    top: auto;
    font-size: 60px;
}

.survey-page li {
    height: 50px;
    width: auto;
    z-index: 10000;
    color: #f1f1f1;
}

.survey-page li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    z-index: 10000;
}

.survey-page li a:hover {
    background-color: rgba(255, 255, 255, 0.005);
    z-index: 10000;
}

.survey-page .active {
        color: #ffffff;
}

.survey-page span{
    cursor: pointer;
    color: #ffffff;
    font-size: 45px;
    position: fixed;
    right: 95%;
    top: 10%;
    z-index: 10;
}

.survey-page span:hover {
    color: #f1f1ff;
    opacity: 0.5;
}

  
/*responsive navbar code*/

    @media only screen and (max-width: 1100px) {
            .about-me .nav .closebtn {
                padding: 0;
                padding-right: 50px;
                font-size: 50px;
                text-align: center;
            }
        
            .about-me span{
                font-size: 45px;
                position: fixed;
                left: 2%;
                z-index: 10000;
            }
        }

    @media screen and (max-height: 450px) {
            .about-me .nav {padding-top: 15px;}
            .about-me .nav a {font-size: 18px;}
        }

    @media only screen and (max-width: 1100px) {
            .art-page .nav .closebtn {
                padding: 0;
                font-size: 50px;
                padding-bottom: 5px;
                left: 90%;
                text-align: center;
            }
        
            .art-page span{
                font-size: 35px;
                position: fixed;
                left: 2%;
                z-index: 10;
            }
        }

    @media screen and (max-height: 450px) {
            .art-page .nav {padding-top: 15px;}
            .art-page .nav a {font-size: 18px;}
        }

    @media only screen and (max-width: 1100px) {
            .showcase-page .nav .closebtn {
                padding: 0;
                padding-right: 50px;
                font-size: 50px;
                text-align: center;
            }
        
            .showcase-page span{
                font-size: 45px;
                position: fixed;
                left: 2%;
                z-index: 10;
            }
        }

    @media screen and (max-height: 450px) {
            .showcase-page .nav {padding-top: 15px;}
            .showcase-page .nav a {font-size: 18px;}
        }

    @media only screen and (max-width: 1100px) {
            .contact-me .nav .closebtn {
                padding: 0;
                padding-right: 50px;
                font-size: 50px;
                text-align: center;
            }
        
            .contact-me span{
                font-size: 45px;
                position: fixed;
                left: 2%;
                z-index: 10000;
            }
        }

    @media screen and (max-height: 450px) {
            .contact-me .nav {padding-top: 15px; 
                              overflow: none;}
            .contact-me .nav a {font-size: 18px;}
        }

    @media only screen and (max-width: 1100px) {
            .resume-page .nav .closebtn {
                padding: 0;
                padding-right: 50px;
                font-size: 50px;
                text-align: center;
            }
        
            .resume-page span{
                font-size: 45px;
                position: fixed;
                left: 2%;
                z-index: 10000;
            }
        }

    @media screen and (max-height: 450px) {
            .resume-page .nav {padding-top: 15px;}
            .resume-page .nav a {font-size: 18px;}
        }

    @media only screen and (max-width: 1100px) {
            .survey-page .nav .closebtn {
                padding: 0;
                padding-right: 50px;
                font-size: 50px;
                text-align: center;
            }
        
            .survey-page span{
                font-size: 45px;
                position: fixed;
                left: 2%;
                z-index: 10000;
            }
        }

    @media screen and (max-height: 450px) {
            .survey-page .nav {padding-top: 15px;}
            .survey-page .nav a {font-size: 18px;}
        }
/*----------------------------------------Ids and classes---------------------------------------*/

/*frontpage*/

#logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 80vh;
    z-index: 1000;
}

#button1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 60vw;
    max-height: 40vh;   
    z-index: 2000;
}

#Ripplebutton1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 60vw;
    max-height: 40vh;  
    z-index: 1500;
}


/*about-me*/

#Text {
    position: absolute;
    text-align: center;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 80vh; 
    z-index: 1000;
 
}

#profile-pic {
    position: relative;
    width: 100vw;
    height: auto;
}

#profile-pic img {
    margin: auto;
    width: auto;
    height: 5em;
    padding: 0;
    width: auto;
    height: auto;
}

#profile-pic:hover > img {
  filter: brightness(160%);
  filter: blur(40%);
}

.about-me{
    text-align: center;
}
.about-me article {
    width: auto;
    max-width: 90ch;
    height: auto;
    display: inline-block;
}

.about-me header {
    font: 8em BebasNeue, sans-serif;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    text-align: center;
    
    position: relative;
    display: block;
}

.about-me section {
    font-family: homizio;
    font-size: 1.5em;
    color: #ffffff;
    z-index: 2000;
    text-align: center;
    
    position: relative;
    display: block;
    
    background: -webkit-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4)4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%,
  );
  background: -o-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#00000000',
    endColorstr='#00000000',
    GradientType=16);
}

    @media only screen and (max-width: 1279px) {
         .about-me article {width: 90vw;}
        }

    @media only screen and (max-width: 1279px) {
        .about-me header { font-size:5.5em;}
        }
    @media only screen and (max-width: 1279px) {
        .about-me section { font-size:1.2em;}
        }
    @media only screen and (max-width: 600px) {
        #profile-pic img { width: 75%;}
        }


/*artpage*/

.art-page header {
    font: 3.5em BebasNeue, sans-serif;
    color: #ffffff;
    z-index: 2000;
    text-align: center;
    margin-top: 1em; 
    line-height: 0.5;
    top: 50%;

    position: relative;
    display: block;
    background: -webkit-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.73) 4%,
    rgba(0,0,0,0.73) 96%,
    rgba(0,0,0,0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.73) 4%,
    rgba(0,0,0,0.73) 96%,
    rgba(0,0,0,0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.73) 4%,
    rgba(0,0,0,0.73) 96%,
    rgba(0,0,0,0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.73) 4%,
    rgba(0,0,0,0.73) 96%,
    rgba(0,0,0,0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.73) 4%,
    rgba(0,0,0,0.73) 96%,
    rgba(0,0,0,0) 100%
  );
    
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#00000000',
    endColorstr='#00000000',
    GradientType=2;
  );
}

.art-page{
    overflow: hidden; 
}
.art-page article {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
}

main.container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 7.53%;
}

.column {
    padding: 0;
    margin: 0;
    z-index: 20000;
    height: 100%;
    width: 100%;
    flex: 2.0;
    transition: all 1s;
    align-items: stretch;
    display: block;    
    text-decoration: none;
}

.column:hover {
    flex: 4;

}

 #other{
    background: url("assets/portal.jpg") no-repeat center ;
    -webkit-background-size: inherit auto;
       -moz-background-size: inherit auto;
         -o-background-size: inherit auto;
            background-size: inherit auto;
}
#pixel {
    background: url("assets/underground.jpg") no-repeat center ;
    -webkit-background-size: inherit auto;
       -moz-background-size: inherit auto;
         -o-background-size: inherit auto;
            background-size: inherit auto;
}
#photoshop {
    background: url("assets/planets.jpg") no-repeat center ;
    -webkit-background-size: inherit auto;
       -moz-background-size: inherit auto;
         -o-background-size: inherit auto;
            background-size: inherit auto;
}

    @media only screen and (max-width: 1100px) {
        .art-page header { font-size:3em;}
        }
    @media only screen and (max-width: 500px) {
        .art-page header { font-size:1.8em;}
        }
    @media only screen and (max-width: 600px) {
        main.container   {  margin: 0;
                            padding: 0;
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            overflow: hidden;
                            
                            display: flex;
                            justify-content: space-between;
                            align-items: stretch;
                            top: 6%;}
        }

/*contactme*/

.contact-me{
    text-align: center;
}

.contact-me article {
    width: 70vw;
    height: 41.5vw;
    margin: 4em 18vw;
    padding: 1em;
    z-index: 1000;
}

.contact-me header {
    font: 10em BebasNeue, sans-serif;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    text-align: center;
    left: -5%;
    z-index: 1000;
    
    position: relative;
    display: block;
    
}

.contact-me section {
    font-family: homizio;
    font-size: 1.5em;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    z-index: 1000;
    
    position: relative;
    display: block;
    background: -webkit-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4)4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%,
  );
  background: -o-linear-gradient(
    left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.4) 4%,
    rgba(0,0,0,0.4) 96%,
    rgba(0,0,0,0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#00000000',
    endColorstr='#00000000',
    GradientType=1
  6);
}

.contact-me footer{
    right: 50%;
    text-align: left;
}

.contact-me footer img{
    width:2.5em; 
    height:2.5em;
}

.contact-me footer > a:hover > img {
  width:4em;
  height:auto;
  top: 50%;
}

.contact-me article section a{
    color: #ffffff;
}

    @media screen and (max-width: 1279px) {
            .contact-me article {margin: 3em 3em;
                                z-index: -1000;
                                display: inline-block;}
        }
    @media only screen and (max-width: 1279px) {
        .contact-me header { font-size: 4.7em;
                            padding: 50px;
                            text-align: center;}
        }
    @media only screen and (max-width: 1279px) {
        .contact-me section { font-size:1.2em;}
        }
    @media only screen and (max-width: 1279px) {
        .contact-me footer { text-align: center;}
        }

/*showcase id(for photoshop,pixel and other art pages)*/

#Text {
    position: absolute;
    text-align: center;
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 80vh; 
    z-index: 1000;
}

.art-pic {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.art-pic img {
    margin: auto;
    width: auto;
    height: 6em;
    padding: 0;
    width: auto;
    height: auto;
    right: 40%;
}

.showcase-page{
    text-align: center;
}

.showcase-page article {
    width: auto;
    max-width: 90ch;
    height: auto;
    padding: 0;
    display: inline-block;
}

.showcase-page header {
    font: 4.5em BebasNeue, sans-serif;
    color: #ffffff;
    z-index: 2000;
    text-align: center;
    margin-bottom: 0;
    top: 50%;
}

.showcase-page section {
    font-family: homizio;
    font-size: 1.5em;
    color: #000000;
    z-index: 2000;
    padding: 0;
    text-align: center;
    
    position: relative;
    display: block;
}

.showcase-page section date{
    font-size: 0.8em;
}

.showcase-page section cap{
    font-style: italic;
    font-size: 0.9em;
}

    @media (max-width: 1279px) {
        .showcase-page article {width: 90vw;}
        }
    @media only screen and (max-width: 1279px) {
        .showcase-page header { font-size:3em;
        top}
        }
    @media only screen and (max-width: 1279px) {
        .showcase-page section { font-size:1.2em;}
        }
    @media only screen and (max-width: 1279px) {
        .art-pic img { width:80%;
                       height: auto;
                       text-align: center;
                       top:80%;}
        }


/*resumepage*/

.resume-page{
    text-align: center;
}
.resume-page article {
    width: 70vw;
    height: auto;
    margin: 4em 18vw;
    padding: 1em;
    z-index: -1000;
}

@media screen and (max-width: 1279px) {
    .resume-page article {
    margin: 3em 3em;
    z-index: -1000;
    display: inline-block;
    }
}

.resume-page header {
    font: 3em BebasNeue, sans-serif;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    text-align: left;
    left: -5%;
    z-index: -1000;
    padding-left:5%;
    
    position: relative;
    display: block;
}

.resume-page header {
    text-align: center;
}

.resume-page section {
    font-family: homizio;
    font-size: 1.2em;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    z-index: 1000;
    text-align: left;
    padding-left:2.5%;

    position: relative;
    display: block;
}

.resume-page aside {
    font-family: homizio;
    font-size: 1.2em;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    z-index: 1000;
    padding: 30px;
    text-align: left;
    
    position: relative;
    display: block;
}

.resume-page footer {
    font-family: homizio;
    font-size: 1.2em;
    color: #ffffff;
    z-index: 2000;
    padding: 0;
    z-index: 1000;
    text-align: left;
    padding-left:2.5%;

    position: relative;
    display: block;
}

.main .container {
    padding: 0 360px 0 30px;
    position: relative;
    overflow: hidden;
}
.content {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.sidebar {
    float: right;
    margin-right: -330px;
    width: 300px;
    background-color: rgba(0,0,0,0.5);
}

.footer {
    clear: right;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.footer:after,
.content:after,
.sidebar:after {
    display: block;
    position: absolute;
    height: 100%;
    content: "";
    background-color: rgba(0,0,0,0.5);
}

.content:after {
    left: 30px;
    right: 360px;
}

.sidebar:after {
    right: 30px;
    width: 300px;
}

.footer:after {
    left: 30px;
    right: 360px;
}

/*survey-page*/

.survey-page body {
  font-family: homizio;
  color: #e8eeef;
}

.survey-page form {
 font-family: homizio;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #404142;
  border-radius: 8px;
}

.survey-page h1 {
 font-family: homizio;
 margin: 0 0 30px 0;
 text-align: center;
 color: #e8eeef;
}

input[type="text"],
input[type="phoneno"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.survey-page select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.survey-page button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.survey-page fieldset {
  margin-bottom: 30px;
  border: none;
  color: #e8eeef;
  font-size: 1em;
}

.survey-page legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.survey-page label {
  display: block;
  margin-bottom: 8px;
  font-size: 1em;
}

.survey-page label.light {
  font-weight: 300;
  display: inline;
}

.survey-page .number {
  background-color: #5fcf80;
  color: #ffffff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

required{
    color: #ff0000;
    display: none;
}

sub{
    color: #ffffff;
    display: none;
}


@media screen and (min-width: 480px) {
  .survey-page form {
    max-width: 450px;
  }
}

    @media only screen and (max-width: 1279px) {
        .resume-page header { font-size: 2em;
                              text-align: center;}
        }
    @media only screen and (max-width: 1279px) {
        .resume-page section { font-size:1.2em;
                               text-align: center;}
        
        }
    @media only screen and (max-width: 1279px) {
        .resume-page footer { text-align: center;}
        }
    @media only screen and (max-width: 1279px) {
                      #left {position: relative;
                             float: left;
                             width: 50%;
                             margin: 0;
                             padding: 0;}
        }
    @media only screen and (max-width: 1279px) {
                    #right {position: relative;
                            float: right;
                            width: 50%;
                            margin: 0;
                            padding: 0;}
        }


    @media all and (max-width: 840px) { 
        .main .container {padding: 0 30px;
                          overflow: visible;
        }
        .content {float: none;
                  margin-bottom: 30px;
        }
        .sidebar {float: none;
                  margin-right: 0;
                  width: 100%;
                  margin-bottom: 30px;
        }
        .footer {float: none;
                 margin-bottom: 30px;
        }
        .footer:after,
        .content:after,
        .sidebar:after {
            display: none
        }
}

/*------------------------------------------------Backgrounds------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

/*frontpage*/

body.frontpage {
    position: fixed;
    
    background: url("assets/floating island 2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;

    background-position: center 15%;
}

/*about-me*/

.about-me .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    
    
    position: fixed;

    background: url("assets/relax.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*contact-me*/

.contact-me .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    filter: blur(1px);
    
    position: fixed;

    background: url("assets/city.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*art-page*/

.art-page .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    
    
    position: fixed;

    background: url("assets/blackbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*showcase-page*/

.showcase-page .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    
    
    position: fixed;

    background: url("assets/blackbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*resume-page*/

.resume-page .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    position: fixed;

    background: url("assets/mech2.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*survey-page*/

.survey-page .background {
    margin: 0;
    padding: 0;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    
    
    position: fixed;

    background: url("assets/blackbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
                    z-index: -1000;
    background-position: center 0%;
}

/*--------------------------------------------------------------fonts----------------------------------------------------*/

@font-face {
    font-family: SansRegular;
    src: url(https://github.com/CristianKrieger/PolychoronWebsite/blob/master/fonts/dense-regular-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: BebasNeue;
    src: url(./assets/bebas-neue.woff);
}

@font-face {
    font-family: homizio;
    src: url(./assets/homizio.woff);
}

/*------------------------------------------------------------------------animations--------------------------------------*/

/*ExpandContract*/

@-webkit-keyframes ExpandContract {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  60% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes ExpandContract {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  60% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.ExpandContract {
  -webkit-animation-name: ExpandContract;
  animation-name: ExpandContract;
}

@-webkit-keyframes moveOut {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

/*MoveOut*/

@keyframes moveOut {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.moveOut {
  -webkit-animation-name: moveOut;
  animation-name: moveOut;
}

/*animation setters*/

.ExpandContractanimated {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ExpandContractanimated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*Stopping the bloody webpage from moving everywhere*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.contact-page body {
    max-height: 100%;
    overflow-y: hidden;
}

